.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 9999px;
  font-size: 12px;
  font-weight: 500;
  background-color: $primary;
  color: $accent;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $accent;
    color: $primary;
  }
}

.btn.order {
  flex-shrink: 0;
  line-height: 0; // Gatau kenapa, tpi kalo ga di set ini buttonnya ga bulet :confused:
  padding: 0.8rem;
  background-color: $accent;
  color: white;

  &:hover {
    background-color: #ffa450;
  }
}
